.contact-container::before {
	content: "";
}

.contact {
	background: $peach;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 25rem;
	margin-top: 7rem;
	padding: 6rem 3rem 10rem 3rem;
	position: relative;
	z-index: 0;
	overflow: hidden;

	&::after {
		content: url("../../assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
		position: absolute;
		top: 1%;
		left: -25%;
		z-index: -1;
	}

	&-intro {
		color: $white;

		&__heading {
			font-size: 3.5rem;
			text-transform: capitalize;
			margin-bottom: 2rem;
			font-weight: 500;
		}

		&__text {
			font-size: 1.5rem;
			width: 100%;
			line-height: 3rem;
		}

		&__left {
			width: 100%;
			margin-right: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin-bottom: 5rem;
		}

		&__right {
			width: 100%;
		}
	}

	&-form {
		width: 100%;
		display: flex;
		flex-direction: column;

		&__group {
			display: flex;
			border-bottom: 1px solid $light-grey;

			&--error {
				display: flex;
				width: 28%;
				font-style: italic;
				opacity: 0;

				&-text {
					margin-right: 1.5rem;
					align-self: center;
				}
			}

			& input,
			textarea {
				background: transparent;
				outline: none;
				color: $light-grey;

				&::placeholder {
					color: $light-grey;
					font-family: "Jost", sans-serif;
				}
			}

			& input[class^="text"],
			& textarea {
				width: 80%;
				padding: 0 0 1rem 1rem;

				border: none;
			}

			& textarea {
				margin-bottom: 1.5rem;
				padding: 2rem 0 0 1rem;
				border-top: none;
			}

			& input[type="tel"],
			& input[type="email"] {
				padding-top: 2rem;
			}
		}

		&__submit {
			display: flex;
			justify-content: center;
			margin-top: 3rem;

			& input[type="submit"] {
				background: $white;
				text-transform: uppercase;
				padding: 1.5rem 2.5rem;
				border: none;
				outline: none;
				border-radius: 4px;
				color: $black;
				cursor: pointer;
				transition: all 0.3s;

				&:disabled {
					background: grey;
					color: #777;
					cursor: not-allowed;

					&:hover {
						background: grey;
						color: #777;
						cursor: not-allowed;
					}
				}
			}
		}
	}

	@include responsive__mode(tablet-portrait) {
		background: $peach;
		border-radius: 12px;
		flex-direction: column;
		margin-bottom: 15rem;
		margin-top: 0;
		padding: 6rem 5rem 10rem 5rem;

		&::after {
			content: url("../../assets/contact/desktop/bg-pattern-hero-desktop.svg");
			position: absolute;
			top: -13%;
			left: -15%;
			z-index: -1;
			transform: scale(1);
		}

		&-intro {
			color: $white;

			&__heading {
				font-size: 3.5rem;
				text-transform: capitalize;
				margin-bottom: 1.5rem;
				font-weight: 400;
			}

			&__text {
				font-size: 1.6rem;
				width: 100%;
				line-height: 3rem;
			}

			&__left {
				width: 100%;
				margin-right: auto;

				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: left;
				margin-bottom: 3rem;
			}

			&__right {
				width: 100%;
			}
		}

		&-form {
			width: 100%;
			display: flex;
			flex-direction: column;

			&__group {
				display: flex;
				border-bottom: 1px solid $light-grey;

				&--error {
					display: flex;
					width: 28%;
					font-style: italic;
					opacity: 0;

					&-text {
						margin-right: 1.5rem;
						align-self: center;
					}

					&-icon {
						align-self: center;
					}
				}

				& input[class^="text"],
				& textarea {
					width: 80%;

					border: none;
				}
			}

			&__submit {
				justify-content: flex-end;
				margin-top: 2rem;

				& input[type="submit"] {
					background: $white;
					text-transform: uppercase;
					padding: 1.5rem 2.5rem;
				}
			}
		}
	}

	@include responsive__mode(tablet) {
		border-radius: 12px;
		flex-direction: row;
		margin-bottom: 15rem;
		margin-top: 0;
		padding: 6rem 3rem 7rem 3rem;

		&::after {
			content: url("../../assets/contact/desktop/bg-pattern-hero-desktop.svg");
			position: absolute;
			top: -30%;
			left: 6%;
			z-index: -1;
			transform: scale(1.25);
		}

		&-intro {
			&__heading {
				font-size: 3.5rem;
				text-transform: capitalize;
				margin-bottom: 1rem;
				font-weight: 400;
			}

			&__text {
				font-size: 1.5rem;
				width: 85%;
				line-height: 3rem;
			}

			&__left {
				width: 60%;
				margin-right: auto;

				margin-bottom: 0;
			}

			&__right {
				width: 40%;
			}
		}

		&-form {
			width: 100%;
			display: flex;
			flex-direction: column;

			&__group {
				display: flex;
				border-bottom: 1px solid $light-grey;

				&--error {
					display: flex;
					width: 28%;
					font-style: italic;
					opacity: 0;

					&-text {
						margin-right: 1.5rem;
						align-self: center;
					}
				}

				& input[class^="text"],
				& textarea {
					width: 80%;
					padding: 0 0 1rem 1rem;

					border: none;
				}

				& textarea {
					margin-bottom: 1.5rem;
					padding: 2rem 0 0 1rem;
					border-top: none;
				}

				& input[type="tel"],
				& input[type="email"] {
					padding-top: 2rem;
				}
			}

			&__submit {
				margin-top: 2rem;

				& input[type="submit"] {
					background: $white;
					text-transform: uppercase;
					padding: 1.5rem 2.5rem;

					&:hover {
						background: $light-peach;
						color: $white;
					}
				}
			}
		}
	}

	@include responsive__mode(tablet-medium) {
		border-radius: 12px;
		flex-direction: row;
		margin-bottom: 25rem;
		margin-top: 0;
		padding: 6rem 8rem 10rem 8rem;

		&::after {
			content: url("../../assets/contact/desktop/bg-pattern-hero-desktop.svg");
			position: absolute;
			top: -30%;
			left: 6%;
			z-index: -1;
			transform: scale(1.25);
		}

		&-intro {
			&__heading {
				font-size: 5rem;
				text-transform: capitalize;
				margin-bottom: 2rem;
				font-weight: 500;
			}

			&__text {
				font-size: 1.8rem;
				width: 60%;
				line-height: 3rem;
			}

			&__left {
				width: 65%;
				margin-right: auto;

				margin-bottom: 0;
			}

			&__right {
				width: 35%;
			}
		}
	}
}

.countries-contact::after {
	top: 80%;
	left: 33%;
	transform: scale(1.2);
}

.is-invalid {
	opacity: 1;
}
