.nav {
    display: flex;
    align-items: flex-end;

    &-logo {
        margin-right: auto;
        width: 10%;

        &__image {
            width: 100%;
            object-fit: cover;
        }
    }

    &-link {
        list-style: none;
        display: flex;

        &__item {
            font-size: 1.5rem;

            &:not(:last-child) {
                margin-right: 3.5rem;
            }

            & a { 
                text-decoration: none;
                color: $black;
                text-transform: uppercase;
                font-weight: 300;

                &::after {
                    content: '';
                    width: 0;
                    height: 1px;
                    background: $black;
                    display: block;
                    transition: all 0.3s;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}